<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eomcs.lms.dao.BoardDao">
	<resultMap type="Board" id="BoardMap">
		<id column="board_id" property="no" />
		<result column="conts" property="title" />
		<result column="cdt" property="date" />
		<result column="vw_cnt" property="viewCount" />
	</resultMap>

  <sql id="select">
    SELECT
      board_id,
      conts,
      cdt,
      vw_cnt
    FROM lms_board
  </sql>

	<select id="findAll" resultMap="BoardMap" parameterType="int">
    <include refid="select"/>
		<if test="no!=null">
			WHERE board_id = #{no}
		</if>
    <if test="no==null">
      order by board_id desc
    </if>
	</select>

  <select id="findByNo" resultMap="BoardMap" parameterType="int">
    <include refid="select"/>
    <if test="no!=null">
      WHERE board_id = #{no}
    </if>
    <if test="no==null">
      order by board_id desc
    </if>
  </select>

	<delete id="delete" parameterType="int">
		DELETE 
		  FROM lms_board
		WHERE board_id = #{no}
	</delete>

  <insert id="insert" parameterType="Board">
    INSERT INTO lms_board(conts)
    VALUES(#{title})
  </insert>
 
   <update id="update" parameterType="Board">
     UPDATE lms_board SET 
	     conts = #{title},
	     cdt = now()
     WHERE board_id = #{no}
  </update>
 
 

</mapper>







